*{
    margin: 10px;
    background-color: black
}
body{
    border-style: groove;
    border-radius:35px;

}
h4{
    color: aqua;
}
.name{
    text-align: center;
    text-transform: capitalize;
    color: rgb(0, 255, 255);
}
.text{
    text-align: center;
    color:white;
}
.imag{
        width: 180px;
    border-radius:50%;
}
.contact{
    color: aqua;
}
